<div class="container">
  <nav id="page-nav">
      <button mat-icon-button  [matMenuTriggerFor]="menu"> <mat-icon svgIcon="menu"></mat-icon></button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/brewery/create">Add a Brewery</button>
          <button mat-menu-item routerLink="/dashboard">dashboard</button>
          <button mat-menu-item (click)="toggleAuth()"> {{ loginMessage }} </button>
      </mat-menu>

  </nav>

    <header class="page-header" matCard>
      <div style="text-align:center">
        <h1><a [routerLink]="[ '/' ]">{{ title }}</a></h1>
        <app-brewery-autocomplete *ngIf="!router.url.includes('create')"></app-brewery-autocomplete>
      </div>

    </header>
      <router-outlet></router-outlet>

</div>
